@model List<Part3.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To KhumaloCraft Emporium</h1>
</div>

@*
 * Code Attribution
 * Mark Otto, Jacob Thornton, and Bootstrap
 * Carousel
 * getbootstrap.com
 * https://getbootstrap.com/docs/5.3/components/carousel/
 *@
<div id="carouselIndex" class="carousel slide">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@Model[i].Image" class="d-block w-100" alt="@Model[i].Name">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndex" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndex" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
